/loop-statements/1-calculate-factorial/1-calculate-factorial/bin
/loop-statements/1-calculate-factorial/1-calculate-factorial/obj
/loop-statements/2-sum-numbers/2-sum-numbers/bin
/loop-statements/2-sum-numbers/2-sum-numbers/obj
