/loop-statements/1-calculate-factorial/1-calculate-factorial/bin
/loop-statements/1-calculate-factorial/1-calculate-factorial/obj
/loop-statements/2-sum-numbers/2-sum-numbers/bin
/loop-statements/2-sum-numbers/2-sum-numbers/obj
/loop-statements/3-sum-even-and-odd-numbers/3-sum-even-and-odd-numbers/bin
/loop-statements/3-sum-even-and-odd-numbers/3-sum-even-and-odd-numbers/obj
/loop-statements/4-sum-numbers-negative/4-sum-numbers-negative/bin
/loop-statements/4-sum-numbers-negative/4-sum-numbers-negative/obj
/conditional-statements/1-check-sign/1-check-sign/bin
/conditional-statements/1-check-sign/1-check-sign/obj
/conditional-statements/2-check-parity/2-check-parity/bin
/conditional-statements/2-check-parity/2-check-parity/obj
/conditional-statements/3-check-sign-and-parity/3-check-sign-and-parity/bin
/conditional-statements/3-check-sign-and-parity/3-check-sign-and-parity/obj
